In [1]:
from thermogravimetricAnalysis import TGA
tga = TGA()

In [2]:
tga.read('angelim', 5, '../examples/assets/T5/angelim.txt')
tga.read('angelim', 10, '../examples/assets/T10/angelim.txt')
tga.read('angelim', 15, '../examples/assets/T15/angelim.txt')
tga.read('angelim', 20, '../examples/assets/T20/angelim.txt')

'angelim at 20 was loaded!'

In [3]:
tga.massLossAndConversions()
tga.dtg('angelim')

In [4]:
for h in [5, 10, 15, 20]:
    id_to_drop = tga.data['angelim'][h][tga.data['angelim'][h]['dtg']>0.3] .index.to_list()
    tga.removeData(id_to_drop, 'angelim', h)

    id_to_drop2 = tga.data['angelim'][h][(tga.data['angelim'][h]['dtg']<=-0.3) & (tga.data['angelim'][h]['temperature']<=200)] .index.to_list()
    tga.removeData(id_to_drop2, 'angelim', h)

In [5]:
tga.smootDataFull()

In [6]:
tga.data['angelim'][5]

,level_0,index,time,temperature,mass,mass_loss,temperature_k,alpha,dtg,dtg_smoothed
0,5,8,8.0,29.659359,10.330079,99.948885,302.809359,0.000511,-0.190406,-0.080895
1,6,9,9.0,29.695827,10.332101,99.970617,302.845827,0.000294,-0.131830,-0.094930
2,10,14,14.0,29.785488,10.331188,99.960804,302.935488,0.000392,0.190111,-0.106317
3,12,16,16.0,29.823046,10.329723,99.945059,302.973046,0.000549,-0.055065,-0.115056
4,14,18,18.0,29.867874,10.327307,99.919094,303.017874,0.000809,-0.283782,-0.121147
...,...,...,...,...,...,...,...,...,...,...
9121,9171,9176,9176.0,809.625793,1.029130,-0.011919,1082.775793,1.000119,0.010213,-0.062849
9122,9172,9177,9177.0,809.699707,1.031586,0.014477,1082.849707,0.999855,0.061497,-0.073266
9123,9173,9178,9178.0,809.791992,1.030081,-0.001698,1082.941992,1.000017,0.098441,-0.084889
9124,9174,9179,9179.0,809.885742,1.033290,0.032790,1083.035742,0.999672,0.009841,-0.097716
9125,9175,9180,9180.0,809.964539,1.030239,0.000000,1083.114539,1.000000,-0.416136,-0.111749

In [ ]:
import numpy as np

In [78]:
def FWO(sample, alpha_min=0.1, alpha_max=0.8, alpha_space=0.1):
    
    alpha_range = np.arange(alpha_min, alpha_max+0.001, alpha_space)
    data = tga.data[sample]
    heatingRate = tga.sampleHeatingRates[sample]
    result = []
    alpha_result = []
    for alpha in alpha_range:
        for hr in heatingRate:
            id = data[hr][data[hr]['alpha'] < alpha]['index'].idxmax()
            temperature = data[hr].iloc[id]['temperature_k']
            time = data[hr].iloc[id]['time']
            alpha_result.append( (alpha, 1/temperature, temperature, time) )
            
        result.append( alpha_result )
        alpha_result = []

    return result

In [79]:
r = FWO('angelim')

In [81]:
r[0]

[(0.1, 0.0018678651601813639, 535.370551, 2848.0),
 (0.1, 0.0018141532435200485, 551.22135, 1546.0),
 (0.1, 0.0018618443948540536, 537.101813, 990.0),
 (0.1, 0.0018454930960269374, 541.860602, 769.0)]

In [74]:
data = tga.data['angelim']

In [77]:
data[5][data[5]['alpha'] < 0.1]['index']

0          8
1          9
2         14
3         16
4         18
        ...
2789    2844
2790    2845
2791    2846
2792    2847
2793    2848
Name: index, Length: 2794, dtype: int64

In [48]:
tga.data['angelim'][5].iloc[2793]['temperature_k']

535.370551

In [7]:
tga.sampleHeatingRates

{'angelim': [5, 10, 15, 20]}

array([ 0.        ,  1.11111111,  2.22222222,  3.33333333,  4.44444444,
        5.55555556,  6.66666667,  7.77777778,  8.88888889, 10.        ])

In [18]:
np.linspace(0, 1, num=9)

array([0.   , 0.125, 0.25 , 0.375, 0.5  , 0.625, 0.75 , 0.875, 1.   ])